/*===cssリセット===*/
body,h1,h2,p{
  margin: 0;
}
img{
  display: block;
  vertical-align: middle;
}
a{
  text-decoration: none;
  display: block;
}

/*===全体のスタイル===*/
body{
  /*文字*/
  font-family: 'Montserrat', sans-serif;
  color: #5e6c77;
  /*背景画像*/
  background-image: url("image/bg_blessing (1).png");
  background-size: cover;
  min-height:100vh; /*workの表示、非表示をする時背景が切れてしまうため*/
}

/*===全体セクションをまとめるdiv===*/
.main_section{
  width: 980px;
  background: white;
  margin: 50px auto;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}
@media only screen and (max-width:767px) { /*タブレット縦までのサイズ*/
  .main_section{
    width: 100%;
  }
  }
  @media only screen and (max-width:979px) {/*980px以下で崩れないように*/
    .main_section{
      width: 90%;
    }
    }

/*===上のパート===*/
.top_section{
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  height: 500px;
}

/*===タイトル===*/
.main_title{
  text-align: center;
  position: absolute; /*環境によって中央にならないので要修正*/
  top: calc(70px + 50px);
  left: calc(50% - 185px/2); /*画面全体の左から５０％の位置 引く フォントの横幅の半分 足す .main_sectionのmargin_top*/
  font-family: 'Yellowtail', cursive;
  color: white;
}

/*===プロフィール画像===*/
.main_img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-sizing: border-box;
  border: 8px solid white;
  position: absolute; /*中央によって無い*/
  top: calc(250px - 100px + 50px);
  left: calc(50% - 100px);
}

/*===プロフィール名===*/
.my_name{
  color: white;
  font-size: 16px;
  position: absolute;
  top: calc(360px + 50px);
  left: calc(50% - 35px);
}

/*===職業===*/
.my_jobs{
  color: white;
  font-size: 14px;
  position: absolute;
  top: calc(380px + 50px);
  left: calc(50% - 231px/2);
}

/*===アバウトエリア===*/
.about_section{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about_title{
  color: #a4cbc2;
  margin-bottom:25px;
}
.about_detail{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media only screen and (max-width:499px) {/*width500未満で余白が無くなる*/
  .about_detail{
    width: 90%;
  }
  }

/*===メッセージエリア===*/
.message_section{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.message_title{
  color: #a4cbc2;
  margin-bottom: 25px;
}
.message_img{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  box-sizing: border-box;
  border: 5px solid white;
  box-shadow: 0 5px 30px rgba(116, 117, 127, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.message_detail{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media only screen and (max-width:499px) {/*width500未満で余白が無くなる*/
  .message_detail{
    width: 90%;
  }
  }

/*===フッター===*/
.footer_section{
  background: #74757f;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  /*worksでhoverアクションすると背景が切れるため*/
  margin-top: 100px;
}



/*===ボタン===*/
.button{
  width: 200px;
  background: white;
  color: #a4cbc2;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  position: absolute;
  top: calc(500px - 49px/2 + 50px);
  left: calc(50% - 230px/2);
  box-shadow: 0 5px 30px rgba(146, 170, 249, 0.5);
}

/*===works===*/
.works_section{
  padding: 0 30px;
}
@media only screen and (max-width:767px) {
  .works_section{
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}
.work_article_wrapper{
  color: #5e6c77;
}
.works_title{
  text-align: center;
  color: #a4cbc2;
  margin-bottom: 25px;
}
.works_box_list{
  padding-left: 0px;
  display: flex;/*flexboxで横並び*/
	flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: start; /*高さをあえて揃えない*/
	-ms-flex-align: start;
	align-items: flex-start;
  list-style-type: none;
}
.works_box_list li{
  padding: 10px;
  box-sizing: border-box;
	margin: 0 30px 30px 0;
  width: calc(50% - 30px * 1 / 2);
  transition: 1s;
}
@media only screen and (max-width:767px) {/*タブレット未満はworksの画像を縦に並べる*/
  .works_box_list li{
    width: 100%;
    margin: 0 auto;
  }
  }
.works_box_list li:nth-child(2n+2){
  margin-right: 0;
}
@media only screen and (max-width:767px) {/*タブレット以下はworksの画像を縦に並べる*/
  .works_box_list li{
    margin-right: auto;
  }
  }
.works_img{
  height: 225px;
  width: 100%;
}
@media only screen and (max-width:979px) {
  .works_img{
    object-fit: cover;
  }
  }
.work_infomation *{ /*子要素の高さが残ってしまうため*/
  height: 0;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 1s;
}
@keyframes fade-out{
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}
.works_box_list li:hover .work_infomation *{
  height: auto;
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 1s;
}
@keyframes fade-in {
  0% {
    height: auto;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.works_box_list li:hover{
  box-shadow    : 0 0 15px gray;
  transition: 1s;
}
